.aux/__MAIN_FILE.aux
.aux/__MAIN_FILE.bbl
.aux/__MAIN_FILE.bcf
.aux/__MAIN_FILE.blg
.aux/__MAIN_FILE.fdb_latexmk
.aux/__MAIN_FILE.fls
.aux/__MAIN_FILE.lof
.aux/__MAIN_FILE.log
.aux/__MAIN_FILE.lot
.aux/__MAIN_FILE.run.xml
.aux/__MAIN_FILE.toc
.vscode/ltex.dictionary.en-US.txt
SurfaceTension_StrainGauges.pdf
__MAIN_FILE.synctex.gz
__MAIN_FILE.fls
referenzen/du_nouy.1919.pdf
svg-inkscape/wheatstone_svg-raw.pdf
