.aux/__MAIN_FILE.aux
.aux/__MAIN_FILE.bbl
.aux/__MAIN_FILE.bcf
.aux/__MAIN_FILE.blg
.aux/__MAIN_FILE.fdb_latexmk
.aux/__MAIN_FILE.fls
.aux/__MAIN_FILE.lof
.aux/__MAIN_FILE.log
.aux/__MAIN_FILE.lot
.aux/__MAIN_FILE.run.xml
.aux/__MAIN_FILE.toc
.vscode/ltex.dictionary.en-US.txt
SurfaceTension_StrainGauges.pdf
__MAIN_FILE.synctex.gz
__MAIN_FILE.fls
referenzen/du_nouy.1919.pdf
svg-inkscape/wheatstone_svg-raw.pdf
matlab/noisy data/alpha0.01.eps
matlab/noisy data/alpha0.05.eps
matlab/noisy data/alpha0.5.eps
matlab/noisy data/exposmooth_noise.asv
svg-inkscape/alpha0.01_svg-raw.pdf
svg-inkscape/alpha0.05_svg-raw.pdf
svg-inkscape/alpha0.5_svg-raw.pdf
matlab/noisy_data/alpha0.01.eps
matlab/noisy_data/alpha0.05.eps
matlab/noisy_data/alpha0.5.eps
matlab/step_response/alpha0.01.eps
matlab/step_response/alpha0.01.svg
matlab/step_response/alpha0.05.eps
matlab/step_response/alpha0.5.eps
matlab/step_response/alpha0.05.svg
matlab/step_response/alpha0.5.svg
matlab/step_response/alphas.eps
matlab/step_response/step_response.asv
svg-inkscape/alphas_svg-raw.pdf
__MAIN_FILE.bbl
__MAIN_FILE.blg
__MAIN_FILE.pdf
matlab/noisy_data/exposmooth_noise.asv
referenzen/du_nouy1925_ring-method.pdf
.gitignore
referenzen/pallas.Harrison1990.surface.Tension.pure.water.pdf
